.right-arrow{
    position:absolute;
    top:50%;
    right: 32px;
    font-size: 3rem;
    color: black;
    z-index:10;
    cursor: pointer;
    user-select: none;
}
.left-arrow{
    position:absolute;
    top:50%;
    left: 32px;
    font-size: 50px;
    color: black;
    z-index:10;
    cursor: pointer;
    user-select: none;
}

.left-arrow:hover{
    color: green;
}

.right-arrow:hover{
    color: green;
}

.slide{
    opacity: 0;
    transition-duration: 1s ease;
}

.slide.active{
    opacity: 1;
    transition-duration: 1s;
    transform:scale(1.08) ;
}
