
.signup-label{
    color: grey;
    margin: 0;
    font-family: 'Staatliches', cursive;
    font-weight:3;
}

.formContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin-top:50px;
    height:360px;
    width:300px;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius:2px;
    margin-left: 115px;
    margin-bottom: 125px;
}

@keyframes shadowFloat {
	0% {
		box-shadow: 0 5px 1px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 5px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 1px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

@keyframes float {
	0% {
		/* box-shadow: 0 5px 1px 0px rgba(0,0,0,0.6); */
		transform: translatey(0px);
	}
	50% {
		/* box-shadow: 0 25px 5px 0px rgba(0,0,0,0.2); */
		transform: translatey(-40px);
	}
	100% {
		/* box-shadow: 0 5px 1px 0px rgba(0,0,0,0.6); */
		transform: translatey(0px);
	}
}
/* Code Pen for shadowing float(a bit of editing) https://codepen.io/MarioDesigns/pen/woJgeo */
