.profile-dropdown {
  position: absolute;
  list-style-type: none;
  background-color: white;
  border-radius: 10px;
  border: 1px solid green;
  padding: 10px;
  margin-top: 4px;
  font-family: 'Staatliches', cursive;
  font-weight:3;
  color: grey;
}

.NavBar{
  border-bottom: 1px solid green;
  height: 103px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* font-size: 1.2rem; */
  /* position: sticky; */
  top: 0;
  z-index: 999;
}

.home-Link{
  align-self: flex-start;
  justify-content: flex-start;
}

.login-button{
  /* align-self: flex-end; */

  /* margin-bottom: 10px; */
  margin-right: 150px;
}

.logo{
  height: 100px;
  justify-self: center;
  align-self: flex-start;
}

.searchBar{
  align-self: center;
  justify-self: center;
  /* margin-top: 100px; */
}
