/* .profile-dropdown {
  position: absolute;
} */

.NavBar{
  display: flex;
  flex-direction: column;
  background-color: #FCFAF0;
  height: 75px;
  width: 100%;
  justify-content: center;
}

.home-Link{
  justify-self: center;
  align-self: flex-start;
  width: 45px;
}

.login-button{
  align-self: flex-end;
  /* margin-bottom: 10px; */
}

.logo{
  height: 100px;
  justify-self: center;
  align-self: flex-start;
}
