.formModal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height:250px;
    width:300px;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius:2px;
}
